* {
    font-family: cursive;
}

body {
    background: url('img/background.jpg') no-repeat fixed;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.stopwatch-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    background: rgba( 255, 250, 250, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 1.0px);
    -webkit-backdrop-filter: blur( 1.0px);
    border: .1rem solid rgba( 255, 255, 255, 0.18);
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stopwatch {
    color: #0b1318;
    font-size: 2.5rem;
}

.btn {
    background-color: #09425e;
    border-radius: .4rem;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    margin: .2rem .5rem;
    transition: background-color .15s;
    width: 150px;
}

.btn:hover {
    background-color: #062838;
}

.btn:active {
    background-color: #045d8a;
}